.Header {
   display: flex;

   width: 100%;
   min-height: 80px;

   font-size: 1.3em;
   background: white;

   border-radius: 0 0 15px 15px;
   box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}

.Header-links {
   display: inline-flex;
   justify-content: flex-start;
   align-items: center;
   width: 50%;
   margin: 0 0 0 2%;
}

.Header-links a {
   font-size: 100%;
   text-align: center;
   text-decoration: none;

   display: flex;
   flex-wrap: nowrap;
   flex-shrink: 0;
   justify-content: center;
   align-items: center;

   height: 50px;

   border-radius: 12px;
   padding: 0 2% 0;
   margin: 0 1%;

   font-weight: 500;
   color: rgb(0, 0, 0);
}

.Header-links a:hover {
   background: rgba(240, 136, 0, 0.25);
}

.Header-personalAccount {
   display: inline-flex;
   justify-content: flex-end;
   align-items: center;
   width: 50%;
   margin: 0 2% 0 0;
}
.Header-personalAccount a {
   font-size: 100%;
   text-align: center;
   text-decoration: none;

   display: flex;
   flex-wrap: nowrap;
   flex-shrink: 0;
   justify-content: center;
   align-items: center;

   height: 50px;

   border-radius: 12px;
   padding: 0 2% 0;
   margin: 0 1%;

   font-weight: 500;
   color: rgb(0, 0, 0);
}

.Header-personalAccount-image {
   display: flex;
   background: url('../../../public/cat.png') 0 0 / 50px 50px no-repeat;
   width: 50px;
   height: 50px;
   margin: 0 0 0 2.5%;
}

.Header-personalAccount-image:hover {
   display: flex;
   background: url('../../../public/cat.png') 0 0 / 45px 45px no-repeat;
   width: 50px;
   height: 50px;
   margin: 0 0 0 2.5%;
}

@media screen and (max-width: 425px) {
   .Header {
      flex-direction: column;
   }

   .Header-links {
      flex-direction: column;
      width: 100%;
      margin: 0;
   }

   .Header-links label {
      margin: 1%;
      width: 95%;
   }

   .Header-links label:first-child {
      margin: 10px 0 10px;
   }

   .Header-personalAccount {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 2% 0;
      width: 100%;
   }
   .Header-personalAccount p {
      display: none;
   }

   .Header-personalAccount-image {
      margin: 0;
      justify-content: center;
      align-items: center;
   }
}
